
.TypeBadge, .horizontal-container, .vertical-container {
  padding:5px;
  margin:5px;
  border-radius: 8px;
  border: 2px solid rgba(0,0,0,0.25);
  font-family: monospace;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.horizontal-container {
  float: left;
  padding: 0px;
  border: none;
  display: inline-flex;
  
  .level-0::after {
    content: '0';
  }
  .level-0\.25::after {
    content: '¼'
  }
  .level-0\.5::after {
    content: '½'
  }
  .level-2::after {
    content: '2'
  }
  .level-4::after {
    content: '4'
  }
}

.TypeBadgeLeft {
  border-right: 0px;
  margin-right: 0px;
  border-radius: 8px 0px 0px 8px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,0.25);
}

.TypeBadgeRight {
  border-left: 0px;
  margin-left: 0px;
  border-radius: 0px 8px 8px 0px;
  padding: 5px;
  border: 2px solid rgba(0,0,0,0.25);
}

.vertical-container {
  text-align: center;
  padding: 0px;
  border: none;
  float: left;

  .level-0::after {
    content: 'NO EFFECT';
  }
  .level-0\.25::after {
    content: 'VERY NOT EFFECTIVE'
  }
  .level-0\.5::after {
    content: 'NOT EFFECTIVE'
  }
  .level-2::after {
    content: 'SUPER EFFECTIVE'
  }
  .level-4::after {
    content: 'VERY SUPER EFFECTIVE'
  }
}

.TypeBadgeTop {
  border-right: 0px;
  margin-right: 0px;
  border-radius: 8px 8px 0px 0px;
  border: 2px solid rgba(0,0,0,0.25);
  padding: 3px;
  padding-bottom: 0px;
}

.TypeBadgeBottom {
  border-left: 0px;
  margin-left: 0px;
  border-radius: 0px 0px 8px 8px;
  border: 2px solid rgba(0,0,0,0.25);
  padding: 3px;
  padding-top: 0px;
}

.level-0 {
  background: #2e3436;
}

.level-0\.25 {
  background: #7c0000;
}

.level-0\.5 {
  background: #a40000;
}

.level-2 {
  background: #4e9a06;
}

.level-4 {
  background: #73d216;
}

.type-normal{background-color:#aa9}
.type-fire{background-color:#f42}
.type-water{background-color:#39f}
.type-electric{background-color:#fc3}
.type-grass{background-color:#7c5}
.type-ice{background-color:#6cf}
.type-fighting{background-color:#b54}
.type-poison{background-color:#a59}
.type-ground{background-color:#db5}
.type-flying{background-color:#89f}
.type-psychic{background-color:#f59}
.type-bug{background-color:#ab2}
.type-rock{background-color:#ba6}
.type-ghost{background-color:#66b}
.type-dragon{background-color:#76e}
.type-dark{background-color:#754}
.type-steel{background-color:#aab}
.type-fairy{background-color:#e9e}
