.PageFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #d54343;
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 2px;
}

.PageFooter a {
  color: inherit;
}
