.TitleBar {
  background: #d54343;
  height: 5em;
}

.TitleCircle {
  background: white;
  height: 6em;
  width: 6em;
  margin: auto;
  margin-top: -4em;
  margin-bottom: 1em;
  border-radius: 50%;
  border: solid #d54343 5px;
}
