.PokemonVarietySelect {
  border-radius: 8px;
  margin: 3px;
  margin-top: 10px;
  padding: 2px;
  text-transform: capitalize;
  border: 2px solid rgb(0, 0, 0);
  font-family: monospace;
  outline: none;
  color: black;
  font-weight: bold;
  background: white;
  box-shadow: 2px 2px 0px black;
  cursor: pointer;
  transition:all 0.1s ease;
}